<div class="container">
    <button class="btn btn-primary" [routerLink] = "'/products'">
      Go to Products List
    </button>
  <div>
   <h1>
    Product #{{product.id}}
   </h1>
    <p>{{ product.name }}</p>
  </div>
</div>
