<div class="container">
    <h1 class="display-5">
      Products
    </h1>
    <div class="row">
      <div class="col-12 card mb-3 p-3" *ngFor="let product of products">
          <a routerLink= "/product/{{product.id}}">
            {{ product.name }}
          </a>
      </div>
    </div>
    <!-- <ul class="list">
      <li  class="list-item">
        
      </li>
    </ul> -->
  </div> 
